html, body{
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	font-family: Microsoft YaHei !important;
}
a{
	display: inline-block;
} 
a:hover, a:focus{
	text-decoration: none;
}
#root{
	width: 1920px;
	height: auto;
}

/********************Login板块-START*************************/

#login{
    width: 1920px;
    height: 1080px;
	background-color: #fff;

    display: flex;
}
/*左半部分*/
#img_section{
    width: 1000px;
    height: 100%;
    background-color: rgb(225, 237, 253);
}
/*左上logo*/
#img_logo{
    padding: 24px 0 0 24px;
    width: 100%;
    box-sizing: border-box;
}
#img_logo img{
    width: 300px;
}
/*左部背景图*/
#img_bg{
	margin-top: 60px;
    padding-left: 180px;
    width: 100%;
    height: 860px;
    box-sizing: border-box;
}
#img_bg img{
    width: 600px;
}
/*右半部分*/
#msg_section{
    width: 920px;
    height: 100%;
}
/*标题*/
#msg_slogan{
    margin-top: 286px;
    padding-left: 198px;
    width: 100%;
    font-size: 30px;
    color: rgb(41, 129, 240);
    box-sizing: border-box;
}
/*登录信息表*/
#msg_form{
    padding-left: 198px;
    width: 100%;
    font-size: 16px;
    color: rgb(187, 187, 187);
    box-sizing: border-box;
}
#msg_form div:nth-child(1){
    margin-top: 80px;
    margin-bottom: 70px;
}
#msg_form .input-control{
    width: 490px;
}
#msg_form .ant-input{
    padding: 10px 30px 10px 45px;
    width: 490px;
    height: 50px;
    font-size: 16px;
    color: rgb(187, 187, 187);
    box-sizing: border-box;
}
.input-control .ant-input-prefix img{
    width: 25px;
    height: 25px;
}
#msg_form .remember_pwd{
    margin-top: 60px;
}
.remember_pwd span{
    margin-right: 10px;
    padding: 0;
    font-size: 16px;
    color: rgb(187, 187, 187);
}
.remember_pwd .ant-checkbox{
    width: 20px;
    height: 20px;
}
.remember_pwd .ant-checkbox-inner{
    width: 20px;
    height: 20px;
}
#msg_form button{
    margin-top: 50px;
    width: 490px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: rgb(41, 129, 240);
    border-radius: 5px;
    border: none;
    outline: none;
}

/********************Login板块-END*************************/

/********************LayOut板块-START*************************/

#layout{
    width: 1920px;
    background-color: rgb(238, 238, 238);
}
#header{
    margin-bottom: 10px;
    width: 100%;
    height: 75px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgb(229, 229, 229);

    display: flex;
    align-items: center;
}
/*图标*/
#header .icon_section{
    width: 762px;
    height: 100%;
    line-height: 75px;
}
.icon_section img{
	margin: 0 30px 0 60px;
	width: 40px;
	height: 45px;	
}
.icon_section div{
    display: inline-block;
    margin-left: 20px;
    font-weight: 700;
    font-size: 20px;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}
.icon_section div a{
    color: rgba(0, 0, 0, 0.65);
}
.icon_section div a::after{
    content: '•';
    margin: 0 10px;
    color: black !important;
}
.icon_section div a:last-child::after{
    content: '';
}
.icon_section div a:hover{
    color: #1890ff;
}
.icon_section div a:last-child:hover{
    color: black;
}
/*导航链接*/
#header .choice_section{
    width: 1018px;
    height: 100%;
}
#header .ant-menu{ 
    height: 75px;
    line-height: 75px;
    border: none;
}
.ant-menu-horizontal{
    border: none;
}
#header .ant-menu .ant-menu-item{
    position: relative;
    width: 158px;
    height: 75px;
	line-height: 75px;
    text-align: center;
    font-size: 22px;
}
#header .ant-menu .ant-menu-item-selected,
#header .ant-menu .ant-menu-item-active{
    border-color: transparent !important;
}
#header .ant-menu .ant-menu-item-selected::after,
#header .ant-menu .ant-menu-item-active::after{
    position: absolute;
    bottom: 2px;
    left: 59px;
    content: '';
    width: 40px;
    height: 5px;
    background-color: #1890ff;
}
#header .ant-menu-item a{
    color: rgb(146, 148, 156) !important;
    text-decoration: none !important;
}
#header .ant-menu-item a:hover{
    text-decoration: none;
    color: #1890ff !important;
}
#header .ant-menu-item-selected a{
    color: #1890ff !important;
}

/*退出登录*/
#header .logout_section{
    width: 140px;
    height: 75px;
}
.logout_section button{
    margin-top: 17px;
    width: 110px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background-color: rgb(0, 154, 235);
}
/*主区域*/
#main{
    width: 100%;
    height: 1326px;
    background-color: rgb(244, 244, 244);
    box-sizing: border-box;
}
.ant-empty{
	margin-top: 100px;
}
.ant-empty svg{
	width: 240px;
	height: 200px;
}
.ant-empty-description{
	margin-top: 100px;
}

/********************LayOut板块-END*************************/

/********************RacePub / ActivityPub / RaceEdit / ActivityEdit 板块-START*************************/

#race_pub,
#activity_pub,
#race_edit,
#activity_edit{
    padding: 20px 30px 50px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*左半部分*/
#graph_part{
    padding: 60px 55px;
    width: 560px;
    height: 1250px;
    background-color: #fff;
    box-sizing: border-box;
}
/*右半部分*/
#text-part{
    padding: 110px 55px;
    width: 1270px;
    height: 1250px;
    background-color: #fff;
    box-sizing: border-box;
}
/*各版块*/
.section{
    width: 100%;
}
/*版块标题*/
.section_title{
    margin-bottom: 25px;
    padding: 0;
    width: 100%;
    height: 30px;

    display: flex;
    align-items: center;
}
.section_title span{
    display: inline-block;
    width: 8px;
    height: 30px;
    background-color: rgb(0, 154, 235);
}
.section_title h3{
    margin: 0 10px;
    font-size: 24px;
    font-weight: bolder;
}
/*比赛封面*/
#cover_section{
    margin-bottom: 50px;
    height: 400px;
}
#cov_image{
    position: relative;
    margin-bottom: 20px;
    width: 450px;
    height: 280px;
}
#cov_image .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: transparent;
    border: 35px solid rgba(0, 0, 0, 0.2);
}
#cov_image img{
    width: 100%;
    height: 100%;
    background-size: cover;
}
#cov_operation{
    display: flex;
    justify-content: space-between;
}
#cov_operation > button{
    width: 150px;
    height: 45px;
    font-size: 16px;
}
#cov_operation div button{
    width: 100px;
    height: 45px;
    font-size: 18px;
}
#cov_operation div .ant-btn-primary{
    margin-right: 20px;
    background-color: rgb(0, 154, 235);
}
/*地址*/
#address_section{
    margin-bottom: 50px;
}
#address_section #add_text .ant-input{
    width: 450px;
    height: 45px;
    font-size: 18px;
    padding: 10px 50px 10px 50px;
    box-sizing: border-box;
}
#add_text .ant-input-prefix{
    left: 15px;
    width: 20px;
    height: 20px;
}
.ant-input-prefix img{
    width: 100%;
    height: 100%;
}
#add_map{
    margin-top: 20px;
    width: 450px;
    height: 280px;
}
#searchResultPanel{
    display: none;
    width: 150px;
    height: auto;
    border: 1px solid #C0C0C0;
}
/*活动时间*/
#date_section{
    width: 100%;
}
#date_section .select_part{
    margin-bottom: 25px;
    width: 100%;
}
.select_part h4{
    margin-bottom: 15px;
    font-size: 18px;
}
.select_part .ant-calendar-picker{
    width: 100% !important;
}
/*比赛类型*/
#type_section{
    height: 120px;
    margin-bottom: 50px;
}
#type_checkbox{
    width: 400px;
}
#type_checkbox .ant-checkbox-group{
    width: 100%;
}
#type_checkbox .ant-col{
    margin-bottom: 20px;
}
#type_checkbox .ant-checkbox,
#type_checkbox .ant-checkbox-input,
#type_checkbox .ant-checkbox-inner{
    width: 20px;
    height: 20px;
}
#type_checkbox .ant-checkbox + span{
    padding-left: 20px;
    font-size: 18px;
    font-weight: lighter;
}
/*富文本编辑器*/
#content_section{
    height: 775px;
}
#cont_title{
    padding: 30px 20px;
    height: 80px;
    border: 1px solid #ccc;
    border-bottom: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-sizing: border-box;
}
#cont_title input{
    padding: 20px;
    font-size: 22px;
    font-weight: bolder;
    color: rgba(51, 51, 51, 0.884);
    border: none;
    outline: none;
}
#cont_title .ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled){
    border-color: #fff;
}
#cont_editor .w-e-text-container{
    height: 600px !important;
	font-size: 15px;
}
#cont_editor .w-e-toolbar{
	height: 50px;
}
#cont_editor .w-e-menu{
	padding: 17px;
}
#cont_editor .w-e-menu i{
	font-size: 15px;
}
#btn_section{
    margin-top: 80px;
    text-align: center;
}
#btn_section button{
    width: 140px;
    height: 45px;
    font-size: 18px;
    text-align: center;
    line-height: 45px;
    background-color: rgb(0, 154, 235);
}

/********************RacePub / ActivityPub / RaceEdit / ActivityEdit 板块-END*************************/

/********************RaceManage / ActivityManage list板块-START*************************/

#activity_manage,
#race_manage{
    padding: 10px 30px 50px;
    width: 100%;
    box-sizing: border-box;
}
/*主体头部*/
#header_section {
    padding: 0 40px 0 20px;
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*导航链接*/
#head_menu .ant-menu,
#category_section .ant-menu{ 
    padding: 0;
    height: 50px;
    line-height: 50px;
    border: none;
    background-color: transparent;
}
#head_menu .ant-menu .ant-menu-item,
#category_section .ant-menu .ant-menu-item{
    position: relative;
    padding: 0;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
}
#head_menu .ant-menu .ant-menu-item-selected,
#head_menu .ant-menu .ant-menu-item-active,
#category_section .ant-menu .ant-menu-item-selected,
#category_section .ant-menu .ant-menu-item-active{
    border-color: transparent !important;
    font-weight: 700;
}
#head_menu .ant-menu .ant-menu-item-selected::after,
#head_menu .ant-menu .ant-menu-item-active::after,
#category_section .ant-menu .ant-menu-item-selected::after,
#category_section .ant-menu .ant-menu-item-active::after{
    position: absolute;
    bottom: 0;
    left: 34px;
    content: '';
    width: 32px;
    height: 3px;
    background-color: #009AE8;
}
#head_menu .ant-menu-item a,
#category_section .ant-menu-item a{
    color: rgb(146, 148, 156) !important;
    text-decoration: none !important;
}
#head_menu .ant-menu-item a:hover,
#category_section .ant-menu-item a:hover{
    text-decoration: none;
    color: #009AE8 !important;
}
#head_menu .ant-menu-item-selected a,
#category_section .ant-menu-item-selected a{
    color: #009AE8 !important;
}
/*顶部按钮*/
#head_operation{
    display: flex;
    align-items: center;
}
#head_operation .opera_btn{
    margin-right: 15px;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
.opera_btn.btn_edit, .opera_btn.btn_publish{
    border-color: #009AE8;
    color: #009AE8;
}
.opera_btn.btn_unpublish, .opera_btn.btn_remove{
    border-color: #D9001B;
    color: #D9001B;
}
#head_operation .opera_btn.btn_unpublish{
    width: 140px;
    margin-right: 40px;
}
/*顶部搜索*/
#search_section{
    margin: 15px 0;
    padding-right: 40px;
    
    display: flex;
    justify-content: flex-end;
}
#search_section .ant-input-affix-wrapper{
    width: 300px;
}
#search_section .ant-input{
    font-size: 16px;
}
#search_section .ant-input-suffix{
    right: 5px;
    height: 100%;
    
    display: flex;
    align-items: center;
}
#search_section .ant-input-suffix img{
    width: 32px;
    height: 32px;
}
/*单元活动*/
#content_section .con_item{
    margin: 0 auto 2px;
    width: 1780px;
    height: 100px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 3px;
    background: #fff;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content_section .con_item.hover{
    width: 1820px !important;
    height: 116px;
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.3);
}
.item_check, .item_img, .item_num, .item_name, .item_people, .item_time, .item_address, .item_pub{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.item_num{
    width: 100px;
}
.item_check .ant-checkbox{
    width: 20px;
    height: 20px;
}
.item_check .ant-checkbox-inner{
    width: 20px;
    height: 20px;
}
.item_img{
    width: 160px;
}
.item_img img{
    width: 80px;
    height: 50px;
}
.item_name{
    width: 630px;
    justify-content: flex-start;
}
.item_people, .item_time, .item_address, .item_pub{
    color: #333;
    font-weight: 400;
}
.item_people{
    width: 150px;
}
.item_time{
    width: 200px;
}
.item_address{
    width: 270px;
}
.item_pub{
    width: 250px;
}

/********************RaceManage / ActivityManage板块-END*************************/

/********************RaceManage / ActivityManage main板块-START*************************/

#race_main,
#activity_main{
    padding: 20px 30px;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
#intro_section{
    padding: 40px 0 0 40px;
    width: 800px;
    height: 1250px;
    background: #fff;
    box-sizing: border-box;
}
#competitor_section{
    width: 1030px;
    height: 1250px;
    background: rgb(244, 244, 244);
}
#intro_basic{
    width: 100%;
    height: 300px;

    display: flex;
}
#basic_img{
    width: 480px;
    height: 300px;
}
#basic_img img{
    width: 100%;
    height: 100%;
}
#basic_text{
    padding: 20px 0 0 30px;
}
.text_item{
    margin-bottom: 40px;
}
.item_header{
    margin-bottom: 20px;

    display: flex;
    align-items: center;
}
.item_header .icon{
    margin-right: 10px;
    width: 25px;
}
.item_header span{
    font-size: 18px;
    font-weight: 700;
}
.item_body{
    margin-bottom: 10px;
    font-size: 16px;

    display: flex;
    flex-direction: column;
}
#intro_body{
    margin-top: 65px;
}
#intro_body .body_title{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 700;
}
#competitor_top{
    margin-bottom: 30px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}
.top_part{
    width: 500px;
    height: 350px;
    background: #fff;
}
#competitor_bottom{
    padding: 15px;
    width: 100%;
    height: 870px;
    background: #fff;
    box-sizing: border-box;
}
#competitor_bottom span{
    font-weight: 500;
}
#competitor_bottom .item_body{
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}
#competitor_bottom .body_row{
    cursor: pointer;
}
.item_body .body_row{
    margin-bottom: 20px;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.body_row .row_column.title{
    color: #3b3b3b;
    font-weight: 700;
    font-size: 16px;
}
.body_row .row_column{
    flex: 1;

    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.row_column img{
    margin-right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.top_part{
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
.top_part .item_header span{
    font-weight: 500;
} 
.top_part .item_body{
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}
#top_left .item_header{
    position: absolute;
}
#echarts_part,
#echarts_part div:nth-child(1),
#echarts_part canvas{
	height: 360px;
}
.body_row.hover{
    width: 932px !important;
    height: 40px;
    box-shadow: 0 0 31px rgba(0, 0, 0, 0.3);
}
.compete_modal .ant-modal-content{
    padding: 29px 51px;
    box-sizing: border-box;
}
.compete_modal .ant-modal-header,
.compete_modal .ant-modal-footer{
    border: none;
}
.compete_modal .ant-modal-title{
    font-size: 24px;
    font-weight: 700;
}
.compete_modal .ant-modal-body{
    margin-top: 10px;
    padding: 24px 0;
}
.modal_text_item{
    margin-bottom: 25px;
    font-size: 20px;

    display: flex;
    align-items: center;
}
.item_basic{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    flex: 3;
    display: flex;
    justify-content: center;
}
.item_basic.item_basic_small{
    flex: 2;
}
.modal_text_item.modal_padding{
    padding-left: 50px;
}
.item_record{
    margin-right: 130px;
}
.modal_text_item.modal_profile{
    margin-bottom: 0;
    padding-right: 50px;

    flex-direction: column;
    align-items: flex-start;
}
.modal_text_item.modal_profile p:nth-child(2){
    font-size: 16px;
    height: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.compete_modal  .ant-modal-footer div{
    text-align: center;
}
.compete_modal  .ant-modal-footer div button{
    margin-right: 15px;
    width: 140px;
    height: 40px;
    font-size: 16px;
}

/********************RaceManage / ActivityManage main板块-END*************************/

/********************Elite板块-START*************************/

#elite{
    
}

/********************Elite板块-END*************************/

/********************StuManage list 板块-START*************************/

#stu_manage{
    padding: 10px 30px 50px;
    width: 100%;
    box-sizing: border-box;
}
#stu_manage #head_menu .ant-menu .ant-menu-item.menu_item{
    margin: 0 40px 0 10px;
}
#set_btn_section{
    margin-right: 30px;
}
#category_section{
    padding: 20px 35px;
}
#stu_manage .stus_container{
    margin-top: 20px;
}
#stu_manage .stus_container .con_item{
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
}
#stu_manage .stus_container .con_item .stu_img img{
    width: 40px;
    height: 40px;
}
#stu_manage .stus_container .con_item .stu_name{
    font-weight: 700;
}
#stu_manage .stus_container .con_item .stu_feedback{
    padding: 10px 0;
    width: 845px;
    height: 100%;
    font-size: 12px;
    overflow: auto;
    box-sizing: border-box;

    display: flex;
    align-items: center;
}
#scholarship_section{
    padding: 20px 40px;
}
#scholarship_section .scholarship_title{
    font-size: 24px;
}
#scholarship_section .scholarship_stu_container{
    margin-top: 30px;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.scholarship_stu_item{
    margin-bottom: 80px; 
    padding: 20px;
    width: 825px;
    height: 270px;
    background: #fff;
    border: 1px solid rgb(215, 215, 215);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}
.scholarship_stu_item_index{
    font-size: 18px;
    font-weight: 700;
}
.scholarship_stu_item_intro{
    padding: 20px;
    display: flex;
}
.stu_item_intro_img img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.stu_item_intro_text{
    margin-left: 30px;
}
.intro_part_one,
.intro_part_two{
    margin-bottom: 20px;
    font-size: 18px;

    display: flex;
    align-items: center;
}
.part_item{
    margin-right: 50px;
}
.part_one_name{
    font-weight: 700;
}
.intro_part_three{
    max-height: 80px;
    font-size: 12px;
    overflow: auto;
    text-overflow: ellipsis;
}

/********************StuManage list 板块-END*************************/

/********************StuManage main 板块-START*************************/

#stu_main{
    padding: 30px 0;

    display: flex;
    justify-content: space-evenly;
}
#stu_main #intro_section{
    padding: 0;
    width: 360px;
    background: #fff;
    box-sizing: border-box;
}
#stu_main #analysis_section{
    width: 1430px;
}
#stu_main .intro_label{
    display: flex;
    justify-content: flex-end;
}
#stu_main .intro_item{
    padding: 0 45px 30px;
    font-size: 20px;

    display: flex;
    align-items: center;
}
#stu_main .intro_item.intro_integral img{
    margin-right: 88px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#stu_main .intro_integral span{
    font-size: 48px;
    color: #009AEB;
}
#stu_main .intro_item img{
    margin-right: 35px;
    width: 32px;
    height: 32px;
}
#stu_main .intro_rank.intro_item,
#stu_main .intro_profile.intro_item{
    display: flex;
    align-items: flex-start;
}
#stu_main .intro_rank div .rank_text,
#stu_main .intro_profile div .profile_text{
    font-size: 16px;
}
#stu_main .intro_profile div .profile_text{
    max-height: 280px;
    overflow: auto;
}
#stu_main .intro_link{
    color: #009AEB;
    cursor: pointer;
}
#statistic_section{
    width: 100%;
    height: 600px;
}
#classroom_section{
    width: 100%;
    height: 400px;
}
#classroom_section #content_section{
    margin-top: 50px;
    height: auto;
}
#classroom_section #content_section .con_item{
    width: 1430px;
}
#classroom_section #content_section .con_item.hover{
    width: 1500px !important;
}
#classroom_section #content_section .con_item{
    font-weight: 400;

    justify-content: space-evenly;
}
#classroom_section #content_section .con_item .item_name{
    font-weight: 700;
}
#classroom_section #content_section .con_item .item_num{
    width: 40px;
}
.statistic_title{
    font-weight: 400;
    font-size: 28px;
}
.statistic_modal .ant-menu{
    background: transparent;
    margin-bottom: 1.5rem;
}
.statistic_modal .ant-menu-item{
    padding: 0;
    width: 100px;
    text-align: center;
    font-size: 20px;
}
#canvas_1{
    height: 350px !important;
}
.table-title{
    width: 154px;
    height:40px;
    background-color: rgba(0, 154, 235, 1);
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}
.table-body{
    padding: 25px;
    width: 100%;
    height: 400px;
    background: #fff;
    box-sizing: border-box;
}
#stu_main .statistic_modal .ant-menu-item{
    font-size: 20px;
}
#stu_main .statistic_modal .ant-menu-item::after{
    left: 30px;
    height: 3px;
}
.statistic_modal .ant-select-selection{
    margin-bottom: 10px;
    height: 40px;
}
.statistic_modal .ant-select-selection-selected-value{
    height: 40px;
    line-height: 40px;
}

/********************StuManage main 板块-END*************************/

/********************StuManage enclosure 板块-START*************************/

#stu_enclosure{
    padding: 20px;
}
#en_select{
    text-align: right;
}
#en_container{
    margin: 40px 70px 40px 100px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.en_item{
    margin: 0 30px 30px 0;
    width: 310px;
    height: 500px;
    background: #fff;
}
.en_item img{
    width: 100%;
    height: 355px;
}
.en_item div{
    padding: 35px 20px;
    font-size: 18px; 
}
.en_item div p:nth-child(1){
    font-weight: 700;
    margin-bottom: 25px;
}

/********************StuManage enclosure 板块-END*************************/